.container-dashboard {
  background-color: black;
  height: 100vh;

}

.sidebar {
  background-color: rgb(244, 183, 13);
  width: fit-content;
  height: 100%;
  // margin-left: 50px;
  // border-radius: 4px;
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}

.bookings-dashboard {
  background-color: #F4B70E;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 8px whitesmoke
}

.watches-dashboard {
  background-color: #F4B70E;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 8px whitesmoke
}
