.container-dashboard {
  background-color: black;
  height: 100vh;

}

.sidebar {
  background-color: black;
  width: fit-content;
  height: 100%;
  color: #C5954D;
  // margin-left: 50px;
  // border-radius: 4px;
  // box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);
}


.bookings-dashboard, .watches-dashboard  {
  background-color: #C5954D;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 8px whitesmoke
}

.container-dashboard .btn {
  background-color: black;
  border: 1px solid #F8F9FA;
  border-radius: 50px;
  color: #C5954D;
  font-weight: bold;
  width: 215px;
  vertical-align: middle;

  &:hover {
    background-color: #C5954D;
    color: black;
  }
}

.booking-dashboard-infos {
  border: 1px solid #e0e0e0; /* Bordure grise */
  border-radius: 8px; /* Coins arrondis */
  padding: 20px; /* Espacement intérieur */
  margin-bottom: 20px; /* Marge en bas pour séparer les cartes */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
