.black-linear-bg-watches-index {
  background: linear-gradient(to bottom, #000000, #191c29);
}

.card-title-watches-index {
  margin-bottom: 0.5rem;
  a {
    text-decoration: none;
    color: #000000;
  }
  a:hover {
    color: #86641a;
  }
}

.button-text-watches-index {
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 0 2px #a95, 0 0 0 1px #fea, 0 0 0 1px #ffffff, 0 0 0 2px #dc8, 0 0 0 3px #fea, 0 0 0 4px #a95;
  color: whitesmoke;
  transition: transform 0.2s ease;
}

.button-text-watches-index:hover {
  transform: scale(1.05);
}

.card-watches-index {
  border-radius: 20px;
  overflow: hidden; /* Empêche les images de déborder des cartes */
}

.card-img-top {
  width: 100%; /* Pour que les images remplissent complètement leur conteneur */
  height: 200px; /* Définissez la hauteur désirée pour toutes les images */
  object-fit: cover; /* Pour s'assurer que les images conservent leur ratio d'aspect */
}

.card-body-watches-index {
  padding: 20px;
  height: 100%; /* Pour que toutes les cartes aient la même hauteur */
}

.card-title-card-body-watches-index {
  margin-bottom: 0.5rem;
}

hr {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  opacity: 0.85;
}

.price-watches-index {
  color: #86641a;
}
