<h1>list of all the Watches :</h1>
<div class="container">
  <% @watches.each do |watch| %>
    <%= link_to watch.name, watch_path(watch) %>
  <% end %>
</div>
<p>-------------------------------------</p>
<%= link_to new_watch_path(@watch), data: { turbo_confirm: "If you are not log in, you'll be redirected to the login page" } do %>
  <p>You too post your watch !</p>
<% end %>
